<div
  class="bottombar bprimary py-3 h-[100px] w-full z-20 flex items-center flex-col"
>
  <div class="song-name text-white mb-2 uppercase font-bold">
    song name here
  </div>
  <div class="current-song-card w-full">
    <div class="buttons flex items-center text-white justify-center">
      <button class="text-4xl font-bold mr-3">
        <span class="iconify" data-icon="bx:bx-skip-previous"></span>
      </button>
      <button class="text-4xl font-bold mx-3">
        <span class="iconify" data-icon="bi:play-fill"></span>
      </button>
      <button class="text-4xl font-bold ml-3">
        <span class="iconify" data-icon="bx:bx-skip-next"></span>
      </button>
    </div>
  </div>
</div>
