* {
  box-sizing: border-box;
  transition: 0.4s all ease-in-out;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

:root {
  --primary: rgb(0, 0, 32);
  --secondary: linear-gradient(47deg, rgb(0, 0, 32) 0%, rgb(0, 34, 82) 100%);
}

.bprimary {
  background: var(--primary);
}
.bscondary {
  background: var(--secondary);
}

.body {
  height: calc(100vh - 160px);
  min-width: calc(100vw - 300px);
  max-width: 100vw;
  overflow-y: scroll;
}
