<section class="user-library">
  <div class="library-container">
    <div class="library">
      <% for (let i = 0; i < 5; i++ ){ %> <%- include("../components/card2")%> <%
      } %>
    </div>
  </div>
</section>
