<section class="h-screen flex items-center justify-center">
  <a
    href="https://accounts.spotify.com/authorize?client_id=e3ba2883dbc7415896ec07d42ea6ced0&response_type=code&redirect_uri=http://localhost&scope=streaming%20user-read-private%20user-library-read%20user-library-modify%20user-read-playback-state%20user-modify-playback-state"
    class="py-3 px-20 bprimary text-white uppercase font-bold"
    >Login</a
  >
</section>
